@font-face {
  font-family: "ModernRegular";
  src: url("/fonts/font2042/ModernRegular.ttf") format("truetype");
  font-weight: Regular;
  font-style: Regular;
}

h1 {
  font-family: "ModernRegular", sans-serif;
}

body {
  background-image: url("images/background2042.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h2 {
  font-family: "ModernRegular", sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.windows-list {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 15px;

    width: 200px;
    padding: 15px;

    background: #003f36;
    border: 2px solid #00ffe1;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffe1;

    z-index: 10;
}

.windows-list h3 {
    color: #00ffe1;
    margin-top: 0;
}

.windows-list button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;

    background: transparent;
    color: #00ffe1;
    border: 1px solid #00ffe1;
    border-radius: 5px;
    cursor: pointer;
}

.windows-list button:hover {
    background: #00ffe1;
    color: #003f36;
}

.dropdown:hover .windows-list {
    display: block;
}
