* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: #003e34;

    text-align: center;

    padding-top: 157px;
}


/* Put Windows and Linux beside each other */
.dropdown {
    display: flex;
    gap: 8px;

    justify-content: center;
}


/* Each button gets its OWN popup */
.os {
    position: relative;
}


/* Windows / Linux buttons */
.os-button {
    width: 216px;
    height: 76px;

    background-color: transparent;

    border: 3px solid #05e4b3;
    border-radius: 10px;

    color: #04f1be;

    font-size: 29px;

    cursor: pointer;

    box-shadow:
        0 0 8px #00ffc8,
        0 0 20px rgba(0, 255, 200, 0.4);
}


/* Common popup style */
.popup {
    position: absolute;
    top: 85px;
    width: 350px;
    padding: 20px;
    background-color: #003e34;
    border: 3px solid #05e4b3;
    border-radius: 15px;
    box-shadow:
        0 0 10px #00ffc8,
        0 0 30px rgba(0, 255, 200, 0.4);

    display: none;
}

/* Windows popup position */
.windows-list {
    right: 224px;
    top: 0;
}

.linux-list {
    left: 224px;
    top: 0;
}
/* Show popup */
.popup.show {
    display: block;
}


/* Popup title */
.popup h3 {
    color: #04f1be;

    font-family: Georgia, serif;

    font-size: 27px;

    margin-top: 5px;
}


/* Popup buttons */
.popup button {
    width: 300px;
    height: 66px;

    margin: 6px;

    background-color: transparent;

    border: 2px solid #05e4b3;
    border-radius: 8px;

    color: #04f1be;

    font-size: 27px;

    cursor: pointer;

    box-shadow: 0 0 8px #00ffc8;
}